.SignIn {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.logo {
  width: 150px;
  object-fit: contain;
}
.form_container {
  width: 348px;
  height: auto;
  position: relative;
}

.form {
  width: 100%;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  padding: 20px 26px;
  border: 1px #ddd solid;
  border-radius: 4px;
  color: #111;
}
.form > h1 {
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 10px;
}
.form > label {
  display: block;
  padding-left: 2px;
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 13px;
}
.form > input {
  background-color: #fff;
  height: 32px;
  border: 1px rgb(206, 204, 204) solid;
  border-radius: 4px;
}
.form > button {
  height: 32px;
  font-size: 13px;
  margin-top: 14px;
  border: 1px rgb(206, 204, 204) solid;
  cursor: pointer;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
}
.form > button:hover {
  background: linear-gradient(to bottom, #efcc76, #f0c14b);
}
.form > div {
  margin-top: 20px;
  margin-bottom: 20px;
}
.form > div > p {
  font-size: 12px;
}
.form > div > p > span {
  color: #0066c0;
}
.form > div > p > span:hover {
  text-decoration: underline;
}
.needHelp {
  color: #0066c0;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.needHelp:hover {
  text-decoration: underline;
}
.icon {
  font-size: 19px;
}
.newToAmazon {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 14px;
  margin-top: 14px;
}
.newToAmazon > h5 {
  font-size: 12px;
  color: #767676;
  font-weight: 400;
  z-index: 20;
  position: relative;
  background-color: #fff;
}
.newToAmazon > h5::after {
  content: "";
  width: 32%;
  background-color: transparent;
  display: block;
  height: 1px;
  border-top: 1px solid #e7e7e7;
  position: absolute;
  top: 50%;
  right: 0px;
  margin-top: 1px;
  z-index: 1;
}
.newToAmazon > h5::before {
  content: "";
  width: 32%;
  background-color: transparent;
  display: block;
  height: 1px;
  border-top: 1px solid #e7e7e7;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: 1px;
  z-index: 1;
}
.create_account_btn {
  width: 100%;
  height: 32px;
  font-size: 13px;
  margin-top: 15px;
  border: 1px rgb(206, 204, 204) solid;
  cursor: pointer;
  background: linear-gradient(to bottom, #e7eaf0, #d9dce1);
}
.create_account_btn:hover {
  background: linear-gradient(to bottom, #d1d5df, #d9dce1);
}
.bottom_container {
  width: 100%;
  position: relative;
  margin-top: 25px;
  text-align: center;
}
.hr {
  width: 100%;
  height: 44px;
  margin-bottom: -18px;
  background: -webkit-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.03) 3px,
    transparent
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.03) 3px,
    transparent
  );
}
.btm_text_top {
  max-width: 348px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btm_text_top > span {
  font-size: 12px;
  color: #0066c0;
  margin-right: 20px;
}
.btm_text_top > span:hover {
  text-decoration: underline;
}
.btm_text {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  margin-right: 14px;
}
